<!DOCTYPE html>
<html lang="en" ng-app='lista'>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>To Do List</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


</head>
<body>

<div class="row" >
	<div class="col-md-4" style="margin:5% 5% 5% 5%;">
		

			<form>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Email address</label>
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
				  </div>

				  <div class="form-group">
				    <label for="exampleInputPassword1">Password</label>
				    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				  </div>


				  <button type="submit" class="btn btn-default">Submit</button>
			</form>


	</div>
    
    <div class="col-md-4">
    	
    </div>

   <div class="col-md-4" style="margin:5% 5% 5% 5%;">

		<div ng-controller="listar">
		<ul class="list-group">

		  <li class="list-group-item"><center><h3>Lista</h3></center></li>
			<div ng-repeat="note in nota">


		  <li class="list-group-item"><strong>{{note.tiltle}}</strong> <br>
						{{note.descripcion}}</li>


		   </div>
		</ul>

		
	</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="listaModule.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>